@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --darkGray: #141414;
    --mediumGray: #666666;
    --lightGray: #D3D3D3;
    --black: #041e2e;
    --yellow: #05F2DB;
    --lightYellow: #05F2DB;
    --lightBlue: #B4ECEB;
    --darkBlue: #1C5B74;
    --midBlue: #6CA4AC;
}

html, body {
    background-color: var(--darkBlue);
}

h1, h2, h3,
h4, h5, h6 {
    color: var(--darkBlue);    
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding-top: .5em;

}

body, p {
    font-family: "Source Sans 3", serif;
    color: var(--black);
}

.logoMain {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

header {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold; 
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

/* https://bionicjulia.com/blog/creating-react-component-fades-changing-words */
.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}
  
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}

/* Waves courtesy of https://www.shapedivider.app/ */
.custom-shape-divider-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 63px;
    transform: rotateY(180deg);
}

@media (max-width: 480px) {
    .custom-shape-divider-top svg {
      width: 150%;
      height: auto;
    }
}

.custom-shape-divider-top .shape-fill {
    fill: var(--darkBlue);
}

h2 {
    position: relative;
}
  
h2::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 200px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%27300%27%20height%3D%2710%27%3E%3Cpath%20fill%3D%27none%27%20stroke%3D%27%231C5B74%27%20stroke-width%3D%272%27%20d%3D%27M0,5%20C75,10,%20150,0,%20225,5%20C300,10,%20375,0,%20450,5%27%20/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
}